.App {
  text-align: center;
  background: url("https://media1.giphy.com/avatars/haydiroket.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P';
  color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.Header {
  border: 7px solid black;
  background-color: black;
  color: cornflowerblue;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.nav {
  height: 25px;
  background-color: black;
  display: flex;
  align-items: center;
}

.navLinks {
  height: 25px;
  width: 100%;
  margin-left: 7%;
  margin-right: 7%;
}


.bottom {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.scoress {
  padding: 5px;
}
.SignUpBox {
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
}
.GameOver {
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
}

.HighScores {
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
}

.SignInBox {
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
}

.displayUser {
  background-color: black;
  color: cornflowerblue;
}

.about-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  widows: 100%;
}

.AboutMakers {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 5px solid cornflowerblue;
  background-color: black;
  color: cornflowerblue;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third img{
  position:relative;
  display: flex;
  width: 60%;
  height: 50%;
}
