.tileContainer {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.grass {
  background: green;
  height: 11%;
  width: 11%;
  float: left;
}

.icon {
  height: 100%;
  width: 100%;
}

.cement {
  background: grey;
  height: 11%;
  width: 11%;
  float: left;
}

.playerOne{
  background: green;
  height: 11%;
  width: 11%;
  float: left;
}

.crate{
  background: brown;
  height: 11%;
  width: 11%;
  float: left;
}
